.habits-page {
  background: linear-gradient(135deg, rgba(0, 228, 42, 0.5333333333) 0%, rgba(3, 160, 0, 0.5333333333) 100%);
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  min-height: calc(100vh - 50px);

  .habit-details {
    width: 100%;
  }
}