.habits-page {
  // background: linear-gradient(135deg, rgba(0, 228, 42, 0.5333333333) 0%, rgba(3, 160, 0, 0.5333333333) 100%);
  background: #173632;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  min-height: calc(100vh - 50px);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
  }

  .habit-details {
    width: 100%;
  }

  
  .year-header {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

    .year-arrow {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #333;
      padding: 5px 10px;
      transition: color 0.2s ease;

      &:hover {
        color: #000;
      }
    }
  }

}