.navbar {
  // border-bottom: 2px solid #eee;
  height: 50px;
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  background: green;

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;

    &:hover {
      color: rgba(255, 255, 255, 0.824);
    }
  }

  .links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .links {
      display: flex;
      gap: 20px;
    }
  }
}