.navbar {
  border-bottom: 2px solid #eee;
  height: 50px;
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;

  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 24px;

    &:hover {
      color: #007BFF;
    }
  }

  .links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .links {
      display: flex;
      gap: 20px;
    }
  }
}