.navbar {
  // border-bottom: 2px solid #eee;
  height: 50px;
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  background: green;

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;

    &:hover {
      color: rgba(255, 255, 255, 0.824);
    }
  }

  .links-wrapper {
    // display: flex;
    justify-content: space-between;
    width: 100%;

    .links {
      display: flex;
      gap: 20px;
    }
  }
}

.navbar {
  position: relative;
  padding: 1rem;
  background: #08631c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Desktop only */
.desktop-only {
  display: flex;
  gap: 1.5rem;
}

.mobile-menu-icon {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* MOBILE NAV MENU */
.mobile-nav {
  position: absolute;
  top: 100%;
  right: 0;
  background: #08631c;
  width: 200px;
  padding: 1rem;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Show hamburger only on mobile */
@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }
}
