* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Space+Mono:wght@400;700&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  // background-color: #f9f9f9;
  // color: #333;
}