.habit-form {
  input {
    border: 0;
    font-size: 20px;
  }
  label {
    margin-bottom: 20px;
  }
  button {
    border: 0;
    background: green;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
}

.color-dropdown option {
  height: 20px;
  padding: 5px;
}

.color-dropdown {
  width: 100px;
  height: 30px;
}

.date-dropdowns {
  display: flex;
  gap: 10px;
}

.date-dropdowns select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}