.color-dropdown option {
  height: 20px;
  padding: 5px;
}

.color-dropdown {
  width: 100px;
  height: 30px;
}

.date-dropdowns {
  display: flex;
  gap: 10px;
}

.date-dropdowns select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}